@page "/gioithieu"
<h1> Thông tin về NQ Gaming </h1>

<h5>
    NQ gaming được mở ra để cung cấp các chiếc ghế gaming 
</h5>

<p>
    Chúng tôi luôn cung cấp những chiếc ghế cao cấp chất lượng để giúp các bạn làm việc một cách thoải mái nhất
    Khi phải ngồi liên tục trong nhiều giờ, có lẽ vấn đề bạn phải đối mặt sau đó chính là việc phải liên tục thay
    đổi cách ngồi sao cho ổn nhất trên một chiếc ghế thường nhưng vẫn không thể cảm giác thoải mái. Vì thế, các 
    chiếc ghế gaming đều được các nhà thiết kế thêm vào một vài bộ phận đi kèm như gối chắn lưng, gối kê cổ.
    Điều này giúp bạn hoàn toàn có thể thư giãn, nghỉ ngơi ngay lập tức trên chiếc ghế gaming đầy đủ tiện nghi 
    thay vì phải loay hoay ngồi chỉnh một chiếc ghế thông thường.
</p>
<img src = "https://top10tphcm.com/wp-content/uploads/2021/09/ghe-choi-game-tphcm-le-huy.jpg" />
<p>
    Chúng tôi luôn cung cấp đầy đủ sỉ và lẻ để quý khách có thể đến mua và trải nghiệm ghế gaming của chúng tôi
</p>
<h3>
    Thông tin liên hệ
</h3>
<p>
    *Tên Cửa Hàng: NQ Gaming
</p>
<p>
     *Địa Chỉ: Phú đa, Phú Vang,Thừa Thiên Huế
</p>
<p>
     *Số điện thoại: 0368445350
</p>

